In [1]:
import sys
sys.path.append('.')

In [2]:
import numpy as np
import pandas as pd

In [3]:
from competition.warehouse import Warehouse
from competition.featurise import Featuriser

In [4]:
engine = Warehouse('input').create(use_geo=False, 
                                   era5_metrics=['temp'])
engine

In [5]:
features_df = Featuriser(engine).get_features({'dates_features': {},
                                               'grib_features': {'metric': 'temp',
                                                                 'window_size': 3,
                                                                 'lags': [0, 1, 2, 3, ],
                                                                 'agg_funcs': ['max', 'mean'], },
                                               'target_base': {}})
features_df.info()

temp
evaporation1
<class 'pandas.core.frame.DataFrame'>
Int64Index: 488103 entries, 0 to 488102
Columns: 140 entries, dt to infire_day_num
dtypes: float32(126), int64(13), object(1)
memory usage: 290.5+ MB

In [7]:
features_df.columns

Index(['dt', 'grid_index', 'month', 'week', 'day_of_week', 'stl1_max_lag_0',
       'stl1_mean_lag_0', 't2m_max_lag_0', 't2m_mean_lag_0', 'd2m_max_lag_0',
       ...
       'evavt_mean_lag_7', 'infire_day_1', 'infire_day_2', 'infire_day_3',
       'infire_day_4', 'infire_day_5', 'infire_day_6', 'infire_day_7',
       'infire_day_8', 'infire_day_num'],
      dtype='object', length=140)

In [8]:
features_df.head()

,dt,grid_index,month,week,day_of_week,stl1_max_lag_0,stl1_mean_lag_0,t2m_max_lag_0,t2m_mean_lag_0,d2m_max_lag_0,...,evavt_mean_lag_7,infire_day_1,infire_day_2,infire_day_3,infire_day_4,infire_day_5,infire_day_6,infire_day_7,infire_day_8,infire_day_num
0,2020-05-04,143,5,19,0,292.484528,290.470367,295.342529,292.587646,285.721069,...,-4.656613e-09,0,0,0,0,0,0,0,0,0
1,2021-02-24,891,2,8,2,274.014709,273.252014,267.083618,264.435669,264.951202,...,-2.561137e-09,0,0,0,0,0,0,0,0,0
2,2021-02-27,891,2,8,5,274.544678,273.294678,278.889191,274.832550,272.693451,...,-9.778887e-09,0,0,0,0,0,0,0,0,0
3,2021-04-01,892,4,13,3,277.192566,273.290710,277.945740,275.186462,273.386597,...,-4.656613e-10,0,0,0,0,0,0,0,0,0
4,2020-03-14,893,3,11,5,278.797211,275.905121,276.453064,275.749451,274.880798,...,-4.749745e-08,0,0,0,0,0,0,0,0,0

In [6]:
features_df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
dt,488103,478,2020-04-06,3179,NaN,NaN,NaN,NaN,NaN,NaN,NaN
grid_index,488103,NaN,NaN,NaN,63888.7,28129.1,143,43198,58824,85844,150385
month,488103,NaN,NaN,NaN,5.5763,2.99957,1,3,4,8,12
week,488103,NaN,NaN,NaN,22.8233,13.2975,1,13,18,33,53
day_of_week,488103,NaN,NaN,NaN,2.98554,2.00231,0,1,3,5,6
...,...,...,...,...,...,...,...,...,...,...,...
infire_day_5,488103,NaN,NaN,NaN,0.121575,0.326794,0,0,0,0,1
infire_day_6,488103,NaN,NaN,NaN,0.1229,0.328323,0,0,0,0,1
infire_day_7,488103,NaN,NaN,NaN,0.123896,0.329463,0,0,0,0,1
infire_day_8,488103,NaN,NaN,NaN,0.125183,0.330926,0,0,0,0,1
infire_day_num,488103,NaN,NaN,NaN,0.117557,0.322083,0,0,0,0,1