In [1]:
import sys
sys.path.append('.')

In [2]:
import yaml
import numpy as np
import pandas as pd

In [3]:
from competition.warehouse import Warehouse
from competition.featurise import Featuriser

In [4]:
with open('configs/test.yaml', 'r') as f:
    config = yaml.load(f, yaml.Loader)
config

{'warehouse': {'data_path': 'input/',
  'train': True,
  'create_args': {'use_geo': True,
   'use_era5': True,
   'era5_metrics': '*',
   'era5_years': '*'}},
 'featurise': {'calcers': {'dates_features': {},
   'geo_cat_features': {},
   'geo_neighbors_features': {'count_neighbors': 5},
   'grib_features': {'metric': 'temp',
    'pooling_size': 3,
    'lags': [0, 1, 2, 3],
    'agg_funcs': ['max', 'mean']},
   "target_base'": {}}}}

In [5]:
engine = (Warehouse(data_path=config['warehouse']['data_path'],
                    train=config['warehouse']['train'])
          .create(config['warehouse']['create_args']))
engine

In [5]:
features_df = Featuriser(engine).get_features(config['featurise']['calcers'])
features_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 488103 entries, 0 to 488102
Data columns (total 51 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   dt                          488103 non-null  object
 1   grid_index                  488103 non-null  int64
 2   month                       488103 non-null  int64
 3   week                        488103 non-null  int64
 4   day_of_week                 488103 non-null  int64
 5   geo_population              163421 non-null  object
 6   geo_place                   201614 non-null  object
 7   geo_cn5_city_mean_distance  488103 non-null  float64
 8   geo_cn5_city_max_distance   488103 non-null  float64
 9   geo_cn5_city_min_distance   488103 non-null  float64
 10  temp_stl1_ws3_max_lag_0     488024 non-null  float32
 11  temp_stl1_ws3_mean_lag_0    488024 non-null  float32
 12  temp_t2m_ws3_max_lag_0      488024 non-null  float32
 13  temp_t2m_ws3_mean_lag_0     488024 non-null  float32
 14  temp_d2m_ws3_max_lag_0      488024 non-null  float32
 15  temp_d2m_ws3_mean_lag_0     488024 non-null  float32
 16  temp_skt_ws3_max_lag_0      488024 non-null  float32
 17  temp_skt_ws3_mean_lag_0     488024 non-null  float32
 18  temp_stl1_ws3_max_lag_1     488024 non-null  float32
 19  temp_stl1_ws3_mean_lag_1    488024 non-null  float32
 20  temp_t2m_ws3_max_lag_1      488024 non-null  float32
 21  temp_t2m_ws3_mean_lag_1     488024 non-null  float32
 22  temp_d2m_ws3_max_lag_1      488024 non-null  float32
 23  temp_d2m_ws3_mean_lag_1     488024 non-null  float32
 24  temp_skt_ws3_max_lag_1      488024 non-null  float32
 25  temp_skt_ws3_mean_lag_1     488024 non-null  float32
 26  temp_stl1_ws3_max_lag_2     488024 non-null  float32
 27  temp_stl1_ws3_mean_lag_2    488024 non-null  float32
 28  temp_t2m_ws3_max_lag_2      488024 non-null  float32
 29  temp_t2m_ws3_mean_lag_2     488024 non-null  float32
 30  temp_d2m_ws3_max_lag_2      488024 non-null  float32
 31  temp_d2m_ws3_mean_lag_2     488024 non-null  float32
 32  temp_skt_ws3_max_lag_2      488024 non-null  float32
 33  temp_skt_ws3_mean_lag_2     488024 non-null  float32
 34  temp_stl1_ws3_max_lag_3     488024 non-null  float32
 35  temp_stl1_ws3_mean_lag_3    488024 non-null  float32
 36  temp_t2m_ws3_max_lag_3      488024 non-null  float32
 37  temp_t2m_ws3_mean_lag_3     488024 non-null  float32
 38  temp_d2m_ws3_max_lag_3      488024 non-null  float32
 39  temp_d2m_ws3_mean_lag_3     488024 non-null  float32
 40  temp_skt_ws3_max_lag_3      488024 non-null  float32
 41  temp_skt_ws3_mean_lag_3     488024 non-null  float32
 42  infire_day_1                488103 non-null  int64
 43  infire_day_2                488103 non-null  int64
 44  infire_day_3                488103 non-null  int64
 45  infire_day_4                488103 non-null  int64
 46  infire_day_5                488103 non-null  int64
 47  infire_day_6                488103 non-null  int64
 48  infire_day_7                488103 non-null  int64
 49  infire_day_8                488103 non-null  int64
 50  infire_day_num              488103 non-null  int64
dtypes: float32(32), float64(3), int64(13), object(3)
memory usage: 134.1+ MB

In [6]:
features_df.columns

Index(['dt', 'grid_index', 'month', 'week', 'day_of_week', 'geo_population',
       'geo_place', 'geo_cn5_city_mean_distance', 'geo_cn5_city_max_distance',
       'geo_cn5_city_min_distance', 'temp_stl1_ws3_max_lag_0',
       'temp_stl1_ws3_mean_lag_0', 'temp_t2m_ws3_max_lag_0',
       'temp_t2m_ws3_mean_lag_0', 'temp_d2m_ws3_max_lag_0',
       'temp_d2m_ws3_mean_lag_0', 'temp_skt_ws3_max_lag_0',
       'temp_skt_ws3_mean_lag_0', 'temp_stl1_ws3_max_lag_1',
       'temp_stl1_ws3_mean_lag_1', 'temp_t2m_ws3_max_lag_1',
       'temp_t2m_ws3_mean_lag_1', 'temp_d2m_ws3_max_lag_1',
       'temp_d2m_ws3_mean_lag_1', 'temp_skt_ws3_max_lag_1',
       'temp_skt_ws3_mean_lag_1', 'temp_stl1_ws3_max_lag_2',
       'temp_stl1_ws3_mean_lag_2', 'temp_t2m_ws3_max_lag_2',
       'temp_t2m_ws3_mean_lag_2', 'temp_d2m_ws3_max_lag_2',
       'temp_d2m_ws3_mean_lag_2', 'temp_skt_ws3_max_lag_2',
       'temp_skt_ws3_mean_lag_2', 'temp_stl1_ws3_max_lag_3',
       'temp_stl1_ws3_mean_lag_3', 'temp_t2m_ws3_max_lag_3',
       'temp_t2m_ws3_mean_lag_3', 'temp_d2m_ws3_max_lag_3',
       'temp_d2m_ws3_mean_lag_3', 'temp_skt_ws3_max_lag_3',
       'temp_skt_ws3_mean_lag_3', 'infire_day_1', 'infire_day_2',
       'infire_day_3', 'infire_day_4', 'infire_day_5', 'infire_day_6',
       'infire_day_7', 'infire_day_8', 'infire_day_num'],
      dtype='object')

In [7]:
features_df.head()

,dt,grid_index,month,week,day_of_week,geo_population,geo_place,geo_cn5_city_mean_distance,geo_cn5_city_max_distance,geo_cn5_city_min_distance,...,temp_skt_ws3_mean_lag_3,infire_day_1,infire_day_2,infire_day_3,infire_day_4,infire_day_5,infire_day_6,infire_day_7,infire_day_8,infire_day_num
0,2020-05-04,143,5,19,0,NaN,NaN,0.344685,0.378005,0.288359,...,288.899872,0,0,0,0,0,0,0,0,0
1,2021-02-24,891,2,8,2,NaN,NaN,0.290611,0.404587,0.164580,...,269.359772,0,0,0,0,0,0,0,0,0
2,2021-02-27,891,2,8,5,NaN,NaN,0.290611,0.404587,0.164580,...,266.279785,0,0,0,0,0,0,0,0,0
3,2021-04-01,892,4,13,3,2054,village,0.216737,0.292387,0.096216,...,274.353943,0,0,0,0,0,0,0,0,0
4,2020-03-14,893,3,11,5,None,village,0.189796,0.267262,0.103796,...,282.899078,0,0,0,0,0,0,0,0,0

In [8]:
features_df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
dt,488103,478,2020-04-06,3179,NaN,NaN,NaN,NaN,NaN,NaN,NaN
grid_index,488103,NaN,NaN,NaN,63888.7,28129.1,143,43198,58824,85844,150385
month,488103,NaN,NaN,NaN,5.5763,2.99957,1,3,4,8,12
week,488103,NaN,NaN,NaN,22.8233,13.2975,1,13,18,33,53
day_of_week,488103,NaN,NaN,NaN,2.98554,2.00231,0,1,3,5,6
geo_population,163421,4495,343,557,NaN,NaN,NaN,NaN,NaN,NaN,NaN
geo_place,201614,3,village,162508,NaN,NaN,NaN,NaN,NaN,NaN,NaN
geo_cn5_city_mean_distance,488103,NaN,NaN,NaN,0.939561,1.16253,0.102042,0.190475,0.389698,1.29134,12.3188
geo_cn5_city_max_distance,488103,NaN,NaN,NaN,1.24092,1.45142,0.127769,0.271617,0.540167,1.72956,13.4317
geo_cn5_city_min_distance,488103,NaN,NaN,NaN,0.566772,0.891286,0.000457111,0.0869435,0.188916,0.718968,11.523
temp_stl1_ws3_max_lag_0,488024,NaN,NaN,NaN,279.514,9.47483,248.203,271.958,277.505,286.421,319.343
temp_stl1_ws3_mean_lag_0,488024,NaN,NaN,NaN,278.866,9.45631,247.696,271.624,276.596,285.717,317.427
temp_t2m_ws3_max_lag_0,488024,NaN,NaN,NaN,276.263,15.197,216.508,269.149,278.68,287.105,313.632
temp_t2m_ws3_mean_lag_0,488024,NaN,NaN,NaN,275.494,15.3391,215.726,268.277,277.918,286.41,313.365
temp_d2m_ws3_max_lag_0,488024,NaN,NaN,NaN,269.857,13.6085,212.428,262.648,272.531,279.663,297.885
temp_d2m_ws3_mean_lag_0,488024,NaN,NaN,NaN,269.055,13.7066,211.673,261.779,271.908,278.947,296.81
temp_skt_ws3_max_lag_0,488024,NaN,NaN,NaN,275.579,16.0623,215.071,267.495,278.127,286.79,320.824
temp_skt_ws3_mean_lag_0,488024,NaN,NaN,NaN,274.632,16.2244,213.968,266.385,277.239,285.941,319.2
temp_stl1_ws3_max_lag_1,488024,NaN,NaN,NaN,279.372,9.45421,248.203,271.922,277.174,286.189,319.179
temp_stl1_ws3_mean_lag_1,488024,NaN,NaN,NaN,278.728,9.43567,247.477,271.59,276.258,285.494,316.28
temp_t2m_ws3_max_lag_1,488024,NaN,NaN,NaN,276.085,15.1521,215.261,269.009,278.388,286.813,313.617
temp_t2m_ws3_mean_lag_1,488024,NaN,NaN,NaN,275.317,15.294,214.804,268.11,277.648,286.104,312.84
temp_d2m_ws3_max_lag_1,488024,NaN,NaN,NaN,269.791,13.6142,211.372,262.583,272.413,279.585,298.314
temp_d2m_ws3_mean_lag_1,488024,NaN,NaN,NaN,268.993,13.7136,210.72,261.723,271.801,278.872,298.182
temp_skt_ws3_max_lag_1,488024,NaN,NaN,NaN,275.4,16.02,214.456,267.363,277.85,286.475,321.39
temp_skt_ws3_mean_lag_1,488024,NaN,NaN,NaN,274.452,16.1828,213.54,266.247,276.953,285.627,319.269
temp_stl1_ws3_max_lag_2,488024,NaN,NaN,NaN,279.255,9.44286,248.214,271.888,276.903,286.009,318.882
temp_stl1_ws3_mean_lag_2,488024,NaN,NaN,NaN,278.614,9.42449,247.76,271.558,275.951,285.328,316.587
temp_t2m_ws3_max_lag_2,488024,NaN,NaN,NaN,275.947,15.1165,216.53,268.85,278.171,286.613,313.617
temp_t2m_ws3_mean_lag_2,488024,NaN,NaN,NaN,275.177,15.2597,215.319,267.952,277.447,285.886,313.298
temp_d2m_ws3_max_lag_2,488024,NaN,NaN,NaN,269.767,13.6155,212.372,262.596,272.386,279.552,298.497
temp_d2m_ws3_mean_lag_2,488024,NaN,NaN,NaN,268.973,13.7164,211.324,261.739,271.783,278.846,297.306
temp_skt_ws3_max_lag_2,488024,NaN,NaN,NaN,275.26,15.9918,214.192,267.227,277.649,286.261,322.013
temp_skt_ws3_mean_lag_2,488024,NaN,NaN,NaN,274.313,16.1554,213.971,266.119,276.743,285.415,320.034
temp_stl1_ws3_max_lag_3,488024,NaN,NaN,NaN,279.154,9.44346,248.213,271.855,276.636,285.877,318.274
temp_stl1_ws3_mean_lag_3,488024,NaN,NaN,NaN,278.517,9.42555,247.785,271.528,275.683,285.195,316.343
temp_t2m_ws3_max_lag_3,488024,NaN,NaN,NaN,275.821,15.1054,216.308,268.738,277.966,286.429,313.617
temp_t2m_ws3_mean_lag_3,488024,NaN,NaN,NaN,275.052,15.2505,215.409,267.828,277.268,285.715,313.018
temp_d2m_ws3_max_lag_3,488024,NaN,NaN,NaN,269.733,13.6271,212.338,262.584,272.324,279.505,297.873
temp_d2m_ws3_mean_lag_3,488024,NaN,NaN,NaN,268.941,13.7301,211.435,261.729,271.739,278.804,296.816
temp_skt_ws3_max_lag_3,488024,NaN,NaN,NaN,275.131,15.9839,213.899,267.115,277.467,286.083,320.824
temp_skt_ws3_mean_lag_3,488024,NaN,NaN,NaN,274.183,16.1509,213.245,265.984,276.548,285.242,319.269
infire_day_1,488103,NaN,NaN,NaN,0.117557,0.322083,0,0,0,0,1
infire_day_2,488103,NaN,NaN,NaN,0.118502,0.323201,0,0,0,0,1
infire_day_3,488103,NaN,NaN,NaN,0.119643,0.324544,0,0,0,0,1
infire_day_4,488103,NaN,NaN,NaN,0.12053,0.32558,0,0,0,0,1
infire_day_5,488103,NaN,NaN,NaN,0.121575,0.326794,0,0,0,0,1
infire_day_6,488103,NaN,NaN,NaN,0.1229,0.328323,0,0,0,0,1
infire_day_7,488103,NaN,NaN,NaN,0.123896,0.329463,0,0,0,0,1
infire_day_8,488103,NaN,NaN,NaN,0.125183,0.330926,0,0,0,0,1
infire_day_num,488103,NaN,NaN,NaN,0.117557,0.322083,0,0,0,0,1